.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
  }
  
  .login-background {
    background-image: url('./Pictures/Econest.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(0.7); /* Adjust brightness for better text readability */
  }
  
  .login-content {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  }
  
  .login-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
  }
  
  .login-form .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-success {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  
  .login-signup {
    text-align: center;
  }
  
  .login-signup a {
    color: #007bff;
  }
  