.csv-container {
    margin-top: 20px;

  }
  
  .csv-heading {
    text-align: center;
    margin-bottom: 16px;
  }
  
  .csv-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .csv-form-group {
    margin-bottom: 15px;
  }
  
  .csv-label {
    font-weight: bold;
    margin-left: 100px;
  }
  
  .csv-input {
    padding: 1px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 17px;
  }
  
  .csv-button {
    padding: 25px 50px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .csv-button:hover {
    background-color: #0056b3;
  }
  
  .csv-image {
    width: 700px; 
    height: auto; 
    margin-left: 560px;
  }
  