.dashboard-container {
  display: flex;
  justify-content: space-between; 
  padding: 100px;
  background-color: #ad393900;
}

.chart-heading {
  text-align: center;
  margin-top: -90px; 
}

.chart-container {
  width: 450px; 
  height: 450px; 
}


.dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
}

.finance-table {
  width: 100%;
}

.amount-header {
  padding-left: 20px; 
}

.finance-table td {
  padding: 10px; 
}
.amount-value {
  font-size: 22px;
}
