.expenses-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.expense-table th,
.expense-table td {
  border: 1px solid #ddd; 
  padding: 20px; 
  text-align: left;
  font-size: 20px; 
}

.expense-table th {
  background-color: #ffffff; /
}

.expense-controls {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.expenses-form {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.expenses-form-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.expenses-label {
  font-size: 22px;
  margin-bottom: 5px; 
}

.expenses-input,
.expenses-select {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left; 
}

.expenses-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.expenses-button:hover {
  background-color: #0056b3;
}

.delete-button,
.edit-button {
  background-color: #ffc107;
  color: #333;
  border: 1px solid rgb(0, 0, 0);
  padding: 8px 20px;
  cursor: pointer;
}

.delete-button:hover
.edit-button:hover {
  background-color: #dd9b00;
}

.total-expenses {
  font-size: 25px;
  font-weight: bold;
  color: #000000;
}

.bold-text {
  font-weight: bold;
}

.total-expense-value {
  font-size: 22px;
}