.incomes-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.income-table th,
.income-table td {
  border: 1px solid #ddd; 
  padding: 20px; 
  text-align: left;
  font-size: 20px;
}

.income-table th {
  background-color: #ffffff; /
}

.income-controls {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.incomes-form {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.incomes-form-group {
  margin-bottom: 15px;
}

.incomes-label {
  font-size: 22px;
}

.incomes-input,
.incomes-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.incomes-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.incomes-button:hover {
  background-color: #0056b3;
}

.delete-button,
.edit-button {
  background-color: #ffc107;
  color: #333;
  border: 1px solid rgb(0, 0, 0);
  padding: 8px 20px;
  cursor: pointer;
}

.delete-button:hover
.edit-button:hover {
  background-color: #dd9b00;
}

.total-incomes {
  font-size: 25px;
  color: #000000;
}
