.stocks-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.stock-table th,
.stock-table td {
  border: 1px solid #ddd; 
  padding: 20px; 
  text-align: left;
  font-size: 20px; 
}

.stock-table th {
  background-color: #ffffff; /
}

.stock-controls {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.stocks-form {
  display: flex;
  flex-direction: column;
}

.stocks-form-group {
  margin-bottom: 15px;
}

.stocks-label {
  font-size: 22px;
}

.stocks-input,
.stocks-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.stocks-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.stocks-button:hover {
  background-color: #0056b3;
}

.capture-button,
.delete-button,
.edit-button {
  background-color: #ffc107;
  color: #333;
  border: 1px solid rgb(0, 0, 0);
  padding: 0px 10px;
  cursor: pointer;
}

.delete-button:hover
.edit-button:hover {
  background-color: #dd9b00;
}

.total-stocks {
  font-size: 25px;
  color: #000000;
}